.header {
    height: 50px;
    background-color: var(--color-black);
    display: flex;
     align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
     padding: 0 40px 0 40px;
}

.header:last-child {
    justify-self: flex-end;
}
.menu {
    display: flex;
     align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

a:hover {
    color: var(--color-white);
    text-decoration: underline;
}