.container {
    display: flex;
    width: 100%;
    gap: 10px;
}

.card {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-color: var(--color-gray);
    border-width: 1px;
    gap: 10px;
}

.card > img {
    max-width: 250px;
}

.card > button {
    min-width: 250px;
}
.card:hover {
    transform: scale(1.05);
}